header {
    text-align: center;
    background-color: beige;
    color: pink;

}


img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 50%; 

}


p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 600px;
}


body {
    align-items: center;
    justify-content: center;
}
